node_modules
*/node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.env.*
!.env.example
.DS_Store
*/.DS_Store
frontend/build
*/build
coverage
*/coverage
.vscode
.idea
*.log
.npmrc
!frontend/.npmrc
!backend/.npmrc